<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/alligator-21.08.tar.xz">alligator-21.08</a></td>
   <td align="right">170kB</td>
   <td><tt>23714be1cabf702a199e0d21221ffa466ecd1931</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/angelfish-21.08.tar.xz">angelfish-21.08</a></td>
   <td align="right">114kB</td>
   <td><tt>c6bb111acb4bfea73dddb4779e8b0ab6081b263f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/audiotube-21.08.tar.xz">audiotube-21.08</a></td>
   <td align="right">51kB</td>
   <td><tt>70cccfad67e88c6d3edd44cfd3040dcdfee9552c</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/calindori-21.08.tar.xz">calindori-21.08</a></td>
   <td align="right">208kB</td>
   <td><tt>616a8cdb3b87ffe2f3c353f5fa5897ce0f9d6fa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/kalk-21.08.tar.xz">kalk-21.08</a></td>
   <td align="right">66kB</td>
   <td><tt>0bb663af0c1c75d7a79637dc308d7868bf344b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/kasts-21.08.tar.xz">kasts-21.08</a></td>
   <td align="right">361kB</td>
   <td><tt>64fdd52043ec3ff238ededa7ca92ed478c6361d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/kclock-21.08.tar.xz">kclock-21.08</a></td>
   <td align="right">682kB</td>
   <td><tt>56d5eb622a72f3cf48570899c7b8e0799097cd26</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/keysmith-21.08.tar.xz">keysmith-21.08</a></td>
   <td align="right">148kB</td>
   <td><tt>2c2ca7ba94f0f3d3218fdf12a331e7db621ee36a</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/koko-21.08.tar.xz">koko-21.08</a></td>
   <td align="right">114kB</td>
   <td><tt>accf84adaeedbc1cef14c19bf6393a65958f452c</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/kongress-21.08.tar.xz">kongress-21.08</a></td>
   <td align="right">413kB</td>
   <td><tt>22b220906d08cbe3b8d48c171d50323a645e05f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/krecorder-21.08.tar.xz">krecorder-21.08</a></td>
   <td align="right">131kB</td>
   <td><tt>fa5cddc163aa030c64193cf7f73baf7572cc1a48</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/ktrip-21.08.tar.xz">ktrip-21.08</a></td>
   <td align="right">200kB</td>
   <td><tt>03e22f442fd10d63a2bd79b4f2ea60e31b3e9de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/kweather-21.08.tar.xz">kweather-21.08</a></td>
   <td align="right">961kB</td>
   <td><tt>c99e9ccb37287f33e38e192ad7957f7ddd48dd36</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/plasma-dialer-21.08.tar.xz">plasma-dialer-21.08</a></td>
   <td align="right">75kB</td>
   <td><tt>6c57bfe6019aadacf49957f0a76eabc4fae6a3e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/plasma-phonebook-21.08.tar.xz">plasma-phonebook-21.08</a></td>
   <td align="right">197kB</td>
   <td><tt>4e3dfd0fb1017b1517f0ba18e4432f7dae428bf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/plasma-settings-21.08.tar.xz">plasma-settings-21.08</a></td>
   <td align="right">187kB</td>
   <td><tt>dae7e59f66f78caec7459555bcfaa0c031e16f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/qmlkonsole-21.08.tar.xz">qmlkonsole-21.08</a></td>
   <td align="right">21kB</td>
   <td><tt>73522c107d4a6c2bd9916396d24b2990fd38fe2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/spacebar-21.08.tar.xz">spacebar-21.08</a></td>
   <td align="right">56kB</td>
   <td><tt>65de03a4fd6bf550705bdccb59176509c8f42388</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.08/tokodon-21.08.tar.xz">tokodon-21.08</a></td>
   <td align="right">50kB</td>
   <td><tt>0075866b474e0044adbcfbbd67c2b8f51d873d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/kweathercore/0.5/kweathercore-0.5.tar.xz">kweathercore-0.5</a></td>
   <td align="right">47kB</td>
   <td><tt>bf646038c7d2e58ab0a2d8c39791af2cbe9b3393</tt></td>
</tr>
</table>
